<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer Prediction ML project by Simon Chaudhary</title>
    <style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 1800px;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

#prediction-form {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;

}

.grid-item {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 96%;
    height: 50px;
    margin: auto;
}

button:hover {
    background-color: #0056b3;
}
img{
    width: 100%;
    border-radius: 20px;
}
    </style>
</head>
<body>
    <h1>Breast Cancer Prediction - MACHINE LEARNING PROJECT BY <a href="https://www.facebook.com/profile.php?id=100088739157868">SIMON CHAUDHARY</a></h1>
    <div class="container">
        <form id="prediction-form">
            <div class="grid-container">
                <div class="grid-item">
                    <label for="mean_radius">Mean Radius:</label>
                    <input type="number" step="any" name="mean_radius" value="-0.46980716" required>
                </div>
                <div class="grid-item">
                    <label for="mean_texture">Mean Texture:</label>
                    <input type="number" step="any" name="mean_texture" value="-0.16373631" required>
                </div>
                <div class="grid-item">
                    <label for="mean_perimeter">Mean Perimeter:</label>
                    <input type="number" step="any" name="mean_perimeter" value="-0.49893028" required>
                </div>
                <!-- Repeat for other input fields -->
                <div class="grid-item">
                    <label for="mean_area">Mean Area:</label>
                    <input type="number" step="any" name="mean_area" value="-0.50040974" required>
                </div>
                <div class="grid-item">
                    <label for="mean_smoothness">Mean Smoothness:</label>
                    <input type="number" step="any" name="mean_smoothness" value="-0.72444598" required>
                </div>
                <div class="grid-item">
                    <label for="mean_compactness">Mean Compactness:</label>
                    <input type="number" step="any" name="mean_compactness" value="-0.71699628" required>
                </div>
                <div class="grid-item">
                    <label for="mean_concavity">Mean Concavity:</label>
                    <input type="number" step="any" name="mean_concavity" value="-0.61102603" required>
                </div>
                <div class="grid-item">
                    <label for="mean_concave_points">Mean Concave Points:</label>
                    <input type="number" step="any" name="mean_concave_points" value="-0.61352045" required>
                </div>
                <div class="grid-item">
                    <label for="mean_symmetry">Mean Symmetry:</label>
                    <input type="number" step="any" name="mean_symmetry" value="0.59645569" required>
                </div>
                <div class="grid-item">
                    <label for="mean_fractal_dimension">Mean Fractal Dimension:</label>
                    <input type="number" step="any" name="mean_fractal_dimension" value="-0.02729568" required>
                </div>
                <div class="grid-item">
                    <label for="radius_error">Radius Error:</label>
                    <input type="number" step="any" name="radius_error" value="-0.60315364" required>
                </div>
                <div class="grid-item">
                    <label for="texture_error">Texture Error:</label>
                    <input type="number" step="any" name="texture_error" value="-0.36698442" required>
                </div>
                <div class="grid-item">
                    <label for="perimeter_error">Perimeter Error:</label>
                    <input type="number" step="any" name="perimeter_error" value="-0.6112071" required>
                </div>
                <div class="grid-item">
                    <label for="area_error">Area Error:</label>
                    <input type="number" step="any" name="area_error" value="-0.44257559" required>
                </div>
                <div class="grid-item">
                    <label for="smoothness_error">Smoothness Error:</label>
                    <input type="number" step="any" name="smoothness_error" value="-0.55326622" required>
                </div>
                <div class="grid-item">
                    <label for="compactness_error">Compactness Error:</label>
                    <input type="number" step="any" name="compactness_error" value="-0.58639385" required>
                </div>
                <div class="grid-item">
                    <label for="concavity_error">Concavity Error:</label>
                    <input type="number" step="any" name="concavity_error" value="-0.47142675" required>
                </div>
                <div class="grid-item">
                    <label for="concave_points_error">Concave Points Error:</label>
                    <input type="number" step="any" name="concave_points_error" value="-0.62222882" required>
                </div>
                <div class="grid-item">
                    <label for="symmetry_error">Symmetry Error:</label>
                    <input type="number" step="any" name="symmetry_error" value="-0.39988641" required>
                </div>
                <div class="grid-item">
                    <label for="fractal_dimension_error">Fractal Dimension Error:</label>
                    <input type="number" step="any" name="fractal_dimension_error" value="-0.46247577" required>
                </div>
                <div class="grid-item">
                    <label for="worst_radius">Worst Radius:</label>
                    <input type="number" step="any" name="worst_radius" value="-0.49622127" required>
                </div>
                <div class="grid-item">
                    <label for="worst_texture">Worst Texture:</label>
                    <input type="number" step="any" name="worst_texture" value="0.14208299" required>
                </div>
                <div class="grid-item">
                    <label for="worst_perimeter">Worst Perimeter:</label>
                    <input type="number" step="any" name="worst_perimeter" value="-0.54546224" required>
                </div>
                <div class="grid-item">
                    <label for="worst_area">Worst Area:</label>
                    <input type="number" step="any" name="worst_area" value="-0.50197335" required>
                </div>
                <div class="grid-item">
                    <label for="worst_smoothness">Worst Smoothness:</label>
                    <input type="number" step="any" name="worst_smoothness" value="-0.48342887" required>
                </div>
                <div class="grid-item">
                    <label for="worst_compactness">Worst Compactness:</label>
                    <input type="number" step="any" name="worst_compactness" value="-0.47113749" required>
                </div>
                <div class="grid-item">
                    <label for="worst_concavity">Worst Concavity:</label>
                    <input type="number" step="any" name="worst_concavity" value="-0.3299392" required>
                </div>
                <div class="grid-item">
                    <label for="worst_concave_points">Worst Concave Points:</label>
                    <input type="number" step="any" name="worst_concave_points" value="-0.41811653" required>
                </div>
                <div class="grid-item">
                    <label for="worst_symmetry">Worst Symmetry:</label>
                    <input type="number" step="any" name="worst_symmetry" value="0.45595598" required>
                </div>
                <div class="grid-item">
                    <label for="worst_fractal_dimension">Worst Fractal Dimension:</label>
                    <input type="number" step="any" name="worst_fractal_dimension" value="-0.00297641" required>
                </div>
            </div>
            <button type="submit">Predict</button>
        </form>
        <div class="left">
            <img src="https://s.yimg.com/ny/api/res/1.2/JnfodYp.7BMsiYCt6Jikxg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MA--/https://s.yimg.com/os/creatr-uploaded-images/2022-05/3344bbf0-d5cc-11ec-b77e-c0a256dfdeb8" alt="">
            <h1>Result : </h1>
            <p id="resultParagraph" style="color:red;"> Not Predicted Yet : <br> Note: The value is predicted according to past data. With a score test it can provide you above 90% accuracy.</p>
        </div>
    </div>
    <script >


document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("prediction-form");
    form.addEventListener("submit", async function(event) {
        event.preventDefault();
        const formData = new FormData(form);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });

        const response = await fetch("/predict", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (response.ok) {
            const result = await response.json();
            (result.result==0)?resultParagraph.innerText=`Patient is Malignent (Breast cancer positive)`:resultParagraph.innerText=`Patient is benign (Breast cancer negative)`;
        } else {
            const error = await response.json();
            alert(`Error: ${error.error}`);
        }
    });
});

    </script>
</body>
</html>
